<!-- セクション１ -->
<div class="chapter_page">
    <div class="conteiner">
        <div class="Materialintro">
            <h1>Chapter 1: ありのままの美しさ </h1>
            <br>
            <br>
            <p>足し算ではなく引き算から生まれた、ありのままの美しさ。</p>
            <p>気品漂うシンプルな姿は、どんなシーンにもフィットする。</p>
            <br>
            <p>お気に入りの花をベッドサイドに</p>
            <p>カゴいっぱいのjuicyなフルーツをダイニングに</p>
            <p>口紅とハンカチを入れて特別なディナータイムに</p>
            <p>サンドウィッチを詰めてコーヒー片手にピクニックに。</p>
            <br>
            <br>
            <p>With you.</p>
            <p>あらゆるシーンで、あなたと一緒に特別な時間を。</p>
            {{ 'chapterFot1.jpg' | asset_url | img_tag }}
            <p>凛と立った持ち手と、チャーミングな丸みを帯びたボディ。</p>
            <p>このままの姿、シンプルな裸のままの美しさ。</p>
            <br>
            <p>たとえば、おうちのリビングで。</p>
            <p>差し込む日の光、流れる水の音、ここにあるあなたの生活。</p>
            <p>そのままのあなたにやさしく寄り添い</p>
            <p>この時間こそが特別なんだと語りかけます。</p>
        </div>
    </div>
    <div class="conteiner">
        <div class="conteinerBox">
            <div class="CBoxL">
                <div class="CBocLbigimg">
                   {{ 'chapterFot2.jpg' | asset_url | img_tag }}
                </div>
                <div class="CBocLsmallimg">
                    {{ 'chapterFot3.jpg' | asset_url | img_tag }}
                </div>
            </div>
            <div class="CBoxR">
                <h2 class="CBocRmessage">手元から
                    <br>あなたとあなたの今日を彩る</h2>
                <br>
                <br>
                <br>
                <p class="CBoxtext">お気に入りをたずさえて街を歩けば</p>
                <p class="CBoxtext">今日のあなたの気分さえもコーディネート。</p>
                <p class="CBoxtext">のんびり食事に、スキップしながらショッピングに。</p>
                <p class="CBoxtext">チャーミングで可愛らしいあなたを彩ります。</p>
            </div>
        </div>
    </div>
    <div class="conteiner">
        <div class="chapterBox">
            <div class="conteinerBox">
                <div class="CBoxL">
                    {{ 'chapterFot4.jpg' | asset_url | img_tag }}
                </div>
                <div class="CBoxR">
                    {{ 'chapterFot5.jpg' | asset_url | img_tag }}
                </div>
                <div class="CTbox">
                    <p class="CBoxtext">コーヒー片手にちょっとひと息。</p>
                    <p class="CBoxtext">なにもしない時間も、思わずあふれたため息も。ありのままで愛しいあなたのそばに。</p>
                </div>
                <div class="CTBtn">
                    <button>BUY NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>
