<!-- セクション１ -->
<div class="material_page">
    <div class="TopBottomM">
        <div class="conteiner">
            <div class="Materialintro" data-aos="fade-in">
                <h1 class="SPnone">Material</h1>
                <div class="SPnone">
                    <h2>環境へ配慮した持続可能な
                    <br>プロダクトを目指して</h2>
                </div>
                <div class="SPnone">
                    {{ 'MaterialFirst.jpg' | asset_url | img_tag }}
                </div>
                <div class="textB">
                    <h2>環境に悪影響を与える水草<br class="SP">「青い悪魔」が
                        <br class="SPnone">価値ある<br class="SP">商品へと生まれ変わる</h2>
                </div>
                <div class="SPnone">
                    <p>Srolanieのメインプロダクトの原料である</p>
                    <p>Water hyacinth（和名：ホテイアオイ）は、</p>
                    <p>世界中で環境破壊を引き起こしている水草です。</p>
                    <p>繁殖力がとても強く、増えすぎると湖に汚水が溜まります。</p>
                    <br>
                    <p>その影響で、川で魚が採れなくなり、</p>
                    <p>汚水にマラリアを媒介する蚊が発生します。</p>
                    <p>これは環境破壊だけではなく、</p>
                    <p>周辺に暮らす人々の貧困や衛生にも関わる問題です。</p>
                    <p>その影響力の強さから、Water hyacinthは、</p>
                    <p>「青い悪魔」と呼ばれています。</p>
                    <br>
                    <p>Srolanieでは2021年までに、カンボジアのトンレサップ湖から</p>
                    <p>16,000坪分の不要な水草の刈り取りを行ってきました。</p>
                </div>
                <div class="SP">
                    <p>Srolanieのメインプロダクトの原料</p>
                    <p>であるWater hyacinth（和名：ホテイア</p>
                    <p>オイ）は、世界中で環境破壊を引き起</p>
                    <p>こしている水草です。</p>
                    <br>
                    <p>繁殖力がとても強く、増えすぎると湖</p>
                    <p>に汚水が溜まります。</p>
                    <br>
                    <p>その影響で、川で魚が採れなくなり、</p>
                    <p>汚水にマラリアを媒介する蚊が発生し</p>
                    <p>ます。</p>
                    <p>これは環境破壊だけではなく、周辺に</p>
                    <p>暮らす人々の貧困や衛生にも関わる問</p>
                    <p>題です。</p>
                    <br>
                    <p>その影響力の強さから、Water hyacinth</p>
                    <p>は「青い悪魔」と呼ばれています。</p>
                    <br>
                    <p>Srolanieでは2021年までに、カンボ</p>
                    <p>ジアのトンレサップ湖から16,000坪分</p>
                    <p>の不要な水草の刈り取りを行ってきま</p>
                    <p>した。</p>
                </div>
                <div class="SP">
                    <div class="container">
                        {{ 'MaterialFirst.jpg' | asset_url | img_tag }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="SPnone">
        <div class="SPnone Processing">
            <div class="container">
                <div class="Materialintro">
                    <div data-aos="fade-in">
                        <h1>Processing</h1>
                        <h2>原料へと生まれ変わった水草は、
                        <br>自然の温かみと美しい光沢に包まれる</h2>
                    </div>
                    <div class="contentLeft">
                        <div data-aos="fade-in">
                            <div class="processingfot1">
                            {{ 'processing1.jpg' | asset_url | img_tag }}
                            </div>
                            <p>湖から刈り取った水草を丁寧に天日干しして、</p>
                            <p>一束ひと束手洗いします。</p>
                        </div>
                        <div data-aos="fade-in">
                            <div class="processingfot2">
                                {{ 'processing2.jpg' | asset_url | img_tag }}
                            </div>
                            <p>素材本来の豊かな温かみを活かすため薬剤を使わない伝統手法の</p>
                            <p>チュポン（カンボジア式スチームサウナ）を取り入れ、</p>
                            <p>大切に大切に扱っています。</p>
                        </div>
                        <div data-aos="fade-in">
                            <div class="processingfot1">
                                {{ 'processing3.jpg' | asset_url | img_tag }}
                            </div>
                            <p>こうして原料へと生まれ変わった水草は、</p>
                            <p>自然の温かみと美しい光沢に包まれます。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="SP">
        <div class="SP Processing">
            <div class="container">
                <div class="Materialintro">
                    <h1>Processing</h1>

                    <h2>原料へと生まれ変わった水草は、
                    <br>自然の温かみと美しい光沢に包まれる</h2>
                    <div class="contentLeft">
                        <div class="processingfot1">
                        {{ 'processing1.jpg' | asset_url | img_tag }}
                        </div>
                        <p>湖から刈り取った水草を丁寧に天日干し</p>
                        <p>して、一束ひと束手洗いします。</p>
                        <div class="processingfot2">
                            {{ 'processing2.jpg' | asset_url | img_tag }}
                        </div>
                        <p>素材本来の豊かな温かみを活かすため薬剤</p>
                        <p>を使わない伝統手法のチュポン（カンボジ</p>
                        <p>ア式スチームサウナ）を取り入れ、</p>
                        <p>大切に大切に扱っています。</p>

                        <div class="processingfot1">
                            {{ 'processing3.jpg' | asset_url | img_tag }}
                        </div>
                        <p>こうして原料へと生まれ変わった水草は、</p>
                        <p>自然の温かみと美しい光沢に包まれます。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="devilBox" data-aos="fade-in">
        <p>"もう、青い悪魔なんかじゃない"</p>
    </div>
    <div class="devil_angel" data-aos="fade-in">
        {{ 'angelFot.jpg' | asset_url | img_tag }}
        <div class="container">
            <div class="deviltext">    
                <p>村の女性たちの仕事に繋がるだけでなく、
                <br class="SP">地球環境をも改善する。
                <br class="SPnone">とてもサスティナ<br class="SP">ブルでハッピーなプロダクトです。</p>
            </div>
        </div>
    </div>
</div>
<div class="conteinerLeft SPnone" data-aos="fade-in">
    <div class="conteinerBox">
        <div class="collection">
            <div class="CBoxL">
                <div class="textBox">
                    <h2>News & Column</h2>
                    <br>
                    <div class="underline">
                        <a href="#" class="CBoxtext btnripple3" >read more</a>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="CBoxR">
                <div class="NewsList">
                    <ul>
                        {% for article in blogs['ニュース'].articles  %}
                            <li><a href="{{ article.url }}">
                                <img class="btn_design" src="{{article.image.src | img_url: '1920x'}}" alt="">
                                <div class="text">
                                    <div class="date">
                                        <p>{{ article.created_at | date: "%Y.%m/%d" }}</p>
                                    </div>
                                    <div class="title">
                                        <p>{{ article.title }}</p>
                                    </div>
                                </div>
                            </a></li>
                        {% endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blogheight blog-list SP">
    <div class="page-title"><h2>News & Column</h2></div>
    <div class="blog-list-content">
      <ul>
        {% paginate blogs['ニュース'].articles by 3 %}
        {% for article in blogs['ニュース'].articles %}
        <li><a href="{{ article.url }}">
          <img src="{{article.image.src | img_url: '1920x'}}" alt="">
          <div class="text">
            <div class="date">
              <p>{{ article.created_at | date: "%Y.%m/%d" }}</p>
            </div>
            <div class="title">
              <p>{{ article.title }}</p>
            </div>
          </div>
        </a></li>
        {% endfor%}
        {% endpaginate%}
      </ul>
      <div class="underline SP">
        <a href="#" class="CBoxtext btnripple3" >read more</a>
        <span></span>
      </div>
    </div>
</div>
