
    <div class="centerText">
        <div class="OSsc1" data-aos="fade-in">
            <h1 class="OStitle">Our Story</h1>
            <h3 class="OSsubContent">Srolanieの作り手は<br class="SP">カンボジアの女性たちです。<br class="SP"><br>彼女たちが培った<br class="SP">ものづくりの技術は一級品。<br class="SP"><br>そこには、<br class="SP">彼女たちの美しい人生の物語と<br class="SP">未来への挑戦が詰まっています。</h3>
        </div> 
    </div>

<div class="SPnone">
    <div class="container">
        <div class="centerText" data-aos="fade-in">
            <div class="OSimg2">
                {{ 'OS2.jpg' | asset_url | img_tag }}
            </div>
        </div>
        <div class="OSsc2" data-aos="fade-in">
            <div class="titleBox">
                <h1 class="OStitle">終わりある支援を目指して</h1>
                <p>私たちの取りくみ</p>
            </div>
            <div class="OStext">
                <p>私たちは2014年、NGO団体として活動を始めました。</p>
                <p>私たちが工房を構えたのは、カンボジアのシェムリアップ州から１時間ほど離れた、</p>
                <p>ガスも水道もないスヴァイチュルム村（和名：マンゴーいっぱい村！）。</p>
                <p>そこに暮らす月収が１万円以下の貧困女性たちに職業と教育を提供してきました。</p>
                <br>
                <br>
                <p>合言葉は「終わりある支援」。</p>
                <p>本質的な自立支援とは</p>
                <p>「支援される立場の人がいつか支援する側に回る未来」を目指すことだと考えたのです</p>
                <br>
                <br>
                <p>そして2021年、寄付金に頼ることなく「終わりある支援」を実現するため</p>
                <p>株式会社を立ち上げ、ブランド・Sloranieとして始動しました。</p>
                <p>Sloranieの収益の一部は、スヴァイチュルム村の学校運営費用を賄っています。</p>
            </div>
            <div class="OSproduct" data-aos="fade-in">
                {{ 'OS3.jpg' | asset_url | img_tag }}
            </div>
        </div>
    </div>
</div>
<div class="SP">
    <div class="container" data-aos="fade-in">
        <div class="OSsc2">
            <div class="titleBox">
                <h1 class="OStitle">終わりある支援を目指して</h1>
                <p>私たちの取りくみ</p>
            </div>
        </div>
    </div>
    <div class="centerText">
        <div class="OSimg2" data-aos="fade-in">
            {{ 'OS2.jpg' | asset_url | img_tag }}
        </div>
    </div>
    <div class="container">
        <div class="OSsc2" data-aos="fade-in">
            <div class="OStext">
                <p>私たちは<br class="SP">2014年、NGO団体として活動を始めました。</p>
                <br class="SP">
                <br class="SP">
                <p>私たちが工房を構えたのは、カンボジアの<br class="SP">シェムリアップ州から１時間ほど離れ<br class="SP">た、ガスも水道もないスヴァイチュルム<br class="SP">村（和名：マンゴーいっぱい村！）。</p>
                <p>そこに暮らす月収が１万円以下の貧困女<br class="SP">性たちに職業と教育を提供してきまし<br class="SP">た。</p>
                <br>
                <br>
                <p>合言葉は「終わりある支援」。</p>
                <br class="SP">
                <br class="SP">
                <p>本質的な自立支援とは「支援される立場<br class="SP">の人がいつか支援する側に回る未来」を<br class="SP">目指すことだと考えたのです</p>
                <br>
                <br>
                <p>そして2021年、寄付金に頼ることなく<br class="SP">「終わりある支援」を実現するため株式<br class="SP">会社を立ち上げ、ブランド・Sloranieとして始動しました。</p>
            </div>
            <div class="OSproduct">
                {{ 'OSSPimg.jpg' | asset_url | img_tag }}
            </div>
        </div>
    </div>
</div>

<div class="OSsc3back">
    <div class="OSsc3">
        <div class="container">
            <div class="centerText" data-aos="fade-in">
                <h1 class="OStitle">Our Factory</h1>
                <h3 class="OSsubContent">Srolanieの工房では、<br class="SP">３つの活動を大切にしています</h3>
            </div>
            <div class="factory" data-aos="fade-in">
                <div class="centerText">
                    {{ 'OS5.jpg' | asset_url | img_tag }}
                </div>
                <div class="Fbox">
                    <h2><span>1.</span> 幅広い背景の人を雇用すること</h2>
                    <div class="samllBox">
                        <p>Srolanieの工房では、幅広い背景の人を雇用しています。
                        <br>勤続年数が長いスタッフは徐々に<br class="SP">生活が改善され、
                        <br class="SPnone">今ではスタッフ<br class="SP">のほとんどが「貧困女性」ではなくなっています。</p>
                    </div>
                </div>
            </div>
            <div class="factory" data-aos="fade-in">
                <div class="startText">
                    {{ 'OS6.jpg' | asset_url | img_tag }}
                </div>
                <div class="Fbox">
                    <h2><span>2.</span> 女性に対する教育</h2>
                    <div class="samllBox">
                        <p>教育の機会に恵まれなかった女性cたちに
                        <br class="SPnone">工房で文字の読み書きの教<br class="SP">育を行っています。</p>
                    </div>
                </div>
            </div>
            <div class="factory" data-aos="fade-in">
                <div class="endText">
                    <div class="rightmargin">
                        {{ 'OS7.jpg' | asset_url | img_tag }}
                    </div>
                </div>
                <div class="Fbox">
                    <h2><span>3.</span> イキイキ働ける場所作り</h2>
                    <div class="samllBox">
                        <p>誇りを持ってものづくりに取り<br class="SP">組み、
                        <br class="SPnone">輝きながら働ける場所を<br class="SP">作っています。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="OSsc4 SPnone">
    <div class="container">
        <div class="sc4" data-aos="fade-in">
            <div class="sc4L">
                {{ 'OS8.jpg' | asset_url | img_tag }}
            </div>
            <div class="sc4R">
                <h2>手作りにこだわることで
                    <br>人生に自信と誇りを持って
                    <br>もらいたい</h2>
                <p>私たちは手作りにこだわっています。
                <br>それはもちろん、お客様に良い物を届けたいから。
                <br>そして、作り手に対する想いがあります。
                <br>
                <br>Srolanieのカゴを作ってくれているのは、
                <br>カンボジアの貧困女性たち。
                <br>
                <br>そのほとんどが小学校低学年で学校を辞めざるを得ず、
                <br>十分な教育を受けられていません。
                <br>
                <br>そのような環境で育ち、
                <br>自己肯定感が決して高いとはいえない彼女たちに
                <br>それぞれの人生に誇りを持ってもらいたいと、
                <br>一つひとつ手作りすることにこだわりました。
                <br>
                <br>「自分が作ったものが、誰かの毎日を豊かにしている」
                <br>そう気づいたとき、
                <br>
                <br>「もしかして、私ってとても素敵な仕事をしているのかも？」
                <br>と自分の仕事や人生に自信と誇りを持ってもらえたら。
                <br>
                <br>ものづくりにそんな想いを込めています。</p>
                <span　data-aos="fade-in">創業者：Minami Yoshida Instagram</span>
            </div>
        </div>
    </div>
</div>
<div class="OSsc4 SP">
    <div class="container">
        <div class="sc4" data-aos="fade-in">
            <div class="sc4L">
                <h2>手作りにこだわることで
                    <br>人生に自信と誇りを持って
                    <br>もらいたい</h2>
                {{ 'OS8.jpg' | asset_url | img_tag }}
            </div>
            <div class="sc4R">
                <p>私たちは手作りにこだわっています。
                <br>それはもちろん、お客様に良い物を届け
                <br>たいから。そして、作り手に対する想い
                <br>があります。
                <br>
                <br>Srolanieのカゴを作ってくれているの
                <br>は、カンボジアの貧困女性たち。
                <br>
                <br>そのほとんどが小学校低学年で学校を辞
                <br>めざるを得ず、十分な教育を受けられて
                <br>いません。
                <br>
                <br>そのような環境で育ち、自己肯定感が決
                <br>して高いとはいえない彼女たちにそれぞ
                <br>れの人生に誇りを持ってもらいたいと、
                <br>一つひとつ手作りすることにこだわりま
                <br>した。
                <br>
                <br>「自分が作ったものが、誰かの毎日を豊
                <br>かにしている」そう気づいたとき、
                <br>
                <br>「もしかして、私ってとても素敵な仕事
                <br>をしているのかも？」と自分の仕事や人
                <br>生に自信と誇りを持ってもらえたら。
                <br>
                <br>ものづくりにそんな想いを込めていま
                <br>す。
                <br><span>創業者：Minami Yoshida Instagram</span>
            </p>
            </div>
        </div>
    </div>
</div>
<div class="OSsc5 SPnone">
    <div class="container" data-aos="fade-in">
        <div>
            {{ 'OS9.jpg' | asset_url | img_tag }}
        </div>
        <div class="startText">
            <h2>環境へ配慮した
            <br>持続可能なプロダクトを目指して</h2>
            <div class="CBocLtitle">Material</div>
            <div class="underline">
                <a href="#" class="CBoxtext btnripple3">read more</a>
                <span></span>
            </div>
        </div>
    </div>
</div>
<div class="conteinerLeft SPnone">
    <div class="conteinerBox">
        <div class="collection" data-aos="fade-in">
            <div class="CBoxL">
                <div class="textBox">
                    <h2>News & Column</h2>
                    <br>
                    <div class="underline">
                        <a href="#" class="CBoxtext btnripple3" >read more</a>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="CBoxR">
                <div class="NewsList">
                    <ul>
                        {% for article in blogs['ニュース'].articles  %}
                            <li><a href="{{ article.url }}">
                                <img class="btn_design" src="{{article.image.src | img_url: '1920x'}}" alt="">
                                <div class="text">
                                    <div class="date">
                                        <p>{{ article.created_at | date: "%Y.%m/%d" }}</p>
                                    </div>
                                    <div class="title">
                                        <p>{{ article.title }}</p>
                                    </div>
                                </div>
                            </a></li>
                        {% endfor%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blogheight blog-list SP" data-aos="fade-in">
    <div class="page-title"><h2>News & Column</h2></div>
    <div class="blog-list-content">
      <ul>
        {% paginate blogs['ニュース'].articles by 3 %}
        {% for article in blogs['ニュース'].articles %}
        <li><a href="{{ article.url }}">
          <img src="{{article.image.src | img_url: '1920x'}}" alt="">
          <div class="text">
            <div class="date">
              <p>{{ article.created_at | date: "%Y.%m/%d" }}</p>
            </div>
            <div class="title">
              <p>{{ article.title }}</p>
            </div>
          </div>
        </a></li>
        {% endfor%}
        {% endpaginate%}
      </ul>
      <div class="underline SP">
        <a href="#" class="CBoxtext btnripple3" >read more</a>
        <span></span>
      </div>
    </div>
</div>

<style>
    header .header-content{
      border-bottom: 1px solid black !important;
    }
    .headerShow .header-content{
    border-bottom: 0px solid #000000 !important;
    }
    header .nav ul li a{
      color: black;
    }
    .site-title a{
      color: black !important;
    }
</style>

